home/.local

home/.config/discord
!home/.config/discord/settings.json

home/.config/Valve
home/.config/openvr
home/.config/unity3d

home/.config/VSCodium/
!home/.config/VSCodium/Preferences
!home/.config/VSCodium/User

