*.log
home/.local

home/.config/dconf
home/.config/discord
home/.config/spotify

home/.config/Valve
home/.config/openvr
home/.config/unity3d

home/.config/Code/*
!home/.config/Code/Preferences
!home/.config/Code/User/
home/.config/Code/User/*
!home/.config/Code/User/settings.json
!home/.config/Code/User/keybindings.json

home/.config/kdeconnect/*.pem
!home/.config/kdeconnect/config
home/.config/Thunar

home/.config/corectrl/corectrl.ini
